<div class="m-130"></div>

<div class="container">
  <div class="col-md-12">
    <div class="row">
      <form [formGroup]="writePolicyform" (submit)="onPolicyWrite(writePolicyform.value)">
	    <div class="row"> 	

			<div class="col-md-4">
		        <select class="form-control" id="inscompanyname" name="inscompanyname" (change)="companySelect()" formControlName="inscompanyname">
		          <option value="null" disabled selected>Select Insurance Company</option>
		          <option value="{{x.companyname}}" *ngFor="let x of insurancecompany">{{x.companyname}}</option>
		        </select>
		      </div>

		      <div class="col-md-4">
		        <select class="form-control" id="product" name="product" (change)="productSelect()" formControlName="product">
		          <option value="null" disabled selected>Select Product</option>
		          <option value="{{p}}" *ngFor="let p of companyproducts">{{p}}</option>
		        </select>
		      </div>

<!-- 		      <div class="col-md-4">
		        <select class="form-control" id="product" name="product" ng-model="product" ng-change="productSelect()" ng-disabled="allow">
		          <option value="">Select Product</option>
		          <option value="{{p}}" ng-repeat="p in companyproducts">{{p}}</option>
		        </select>
		      </div> -->

		      <div class="col-md-4">
		        <input type="test" class="form-control" id="insuranceid" placeholder="Enter Policy Number"  formControlName="insuranceid" name="insuranceid" autocomplete="off" (keyup)="policyId()">
		      </div>

		      <div class="col-md-4">
		        <select class="form-control" id="premiumfreq" name="premiumfreq" (change)="prefreq()" formControlName="premiumfreq" >
		        	<option value="null" disabled selected>Select Frequency</option>
		        	<option value="weekly">Weekly</option>
		        	<option value="monthly">Monthly</option>
		        	<option value="yearly">Yearly</option>
		        </select>
		      </div>


		      <div class="col-md-4 form-inline">
		        <input type="test" class="form-control" id="premiumamount" formControlName="premiumamount" placeholder="Enter Premium Amount" name="premiumamount" autocomplete="off" (keyup)="enterAmount()"> / {{outpremiumfreq}}
		      </div>

		      <div class="row" align="center" style="padding-top: 20px">
		       <button type="submit" class="btn btn-success" ng-disabled="agentvalidation" style="margin-top:20px;width:300px">Submit</button>
		      </div>
	    </div>
     </form>
    </div>  



<!-- <div style="margin-top:20px;" align="center">
    <label>Instructions:</label>
    <p style="color:blue">{{errmessage}}</p>
</div> -->
<div class="col-md-12 polTab">
<table class="table table-bordered" style="border-collapse: separate;
      border-spacing: 0;">
    <thead>
      <tr>
        <th>Insurance Company Name</th>
        <th>Product</th>
        <th>Policy ID</th>
        <th>Staring Date & Time</th>
        <th>Premium Frequency</th>
        <th>Premium Amount</th>
        <th>Premium Amount Per Year</th>
        <th>Your Payout</th>
        <th>Company Pool</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{outinscompanyname}}</td>
        <td>{{outproduct}}</td>
        <td>{{outinsuranceid}}</td>
        <td>{{clock | date:'yyyy-MM-dd'}}</td>
        <td>{{outpremiumfreq}}</td>
        <td>{{outpremiumamount | currency}}</td>
        <td>{{outyearpremium | currency}}</td>
        <td>{{outagentcommission | currency}}</td>
        <td>{{outcompanypool | currency }}</td>
      </tr>
    </tbody>
  </table>
</div>	
