<div>
  <div class="main-page-wrapper">

    <!-- ===================================================
        Loading Transition
      ==================================================== -->
    <!-- <div id="loader-wrapper">
        <div id="loader">
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div> -->



    <!-- 
      =============================================
        Theme Header
      ============================================== 
      -->
    <header class="theme-menu-wrapper full-width-menu">
      <div class="header-wrapper">
        <div class="clearfix">
          <!-- Logo -->

          <div class="logo float-left tran4s"><a [routerLink]="['/home']">
              <!-- <img src="../../../assets/images/logo/logo.png" alt="Logo"> -->
              <img class="max-logo" src="https://s3.amazonaws.com/mafserverless/MAF-logo.png">
            </a></div>
          <!-- ============================ Theme Menu ========================= -->
          <nav class="theme-main-menu float-right navbar" id="mega-menu-wrapper">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="position: absolute;
            pointer-events: all;
            right: 30px;
            z-index: 99;">
              <button (click)="mobileMenu()" type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
              <ul class="nav mobile-nav">
                <li class="dropdown-holder menu-list active"><a [routerLink]="['/home']" class="tran3s">Home</a>

                </li>
                <!-- <li class="dropdown-holder menu-list"><a [routerLink]="['/home']" class="tran3s">Services</a>
  
                  </li> -->
                <li class="dropdown-holder menu-list"><a [routerLink]="['/aboutus']" class="tran3s">About</a>

                </li>
                <li class="dropdown-holder menu-list"><a [routerLink]="['/contactus']" class="tran3s">Contact</a>

                </li>
                <li class="dropdown-holder menu-list"><a [routerLink]="['/admin']" class="tran3s">AdminLogin</a>

                </li>
                <!-- <li class="menu-list"><a href="contact.html" class="tran3s">Contact Us</a></li> -->
                <!-- <li class="login-button"><a [routerLink]="['/login']" class="tran3s">login</a></li> -->

                <li class="login-button"><a href="#" class="tran3s" data-toggle="modal" data-target=".signUpModal">login</a></li>

              </ul>
            </div><!-- /.navbar-collapse -->
          </nav> <!-- /.theme-main-menu -->
        </div> <!-- /.clearfix -->
      </div>
    </header> <!-- /.theme-menu-wrapper -->
  </div>
</div>


<!-- Sign-Up Modal -->
<div class="modal fade signUpModal theme-modal-box" role="dialog" id="signUpModalID">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="h3-text">Agent Login</h3>
        <form [formGroup]="agentloginform" (ngSubmit)="onLogin(agentloginform.value)">
          <div class="form-group m-t-60">
            <input type="text" formControlName="agentId" name="agentId" id="agentId" class="form-control" required
              [ngClass]="{ 'is-invalid': submitted && ad.agentId.errors }" placeholder="Username" />
            <div *ngIf="submitted && ad.agentId.errors" class="invalid-feedback">
              <div *ngIf="ad.agentId.errors.required">Username is required</div>
            </div>
          </div>
          <div class="form-group m-t-35">
            <input *ngIf="pass" type="password" formControlName="password" name="password" id="password" class="form-control"
              required [ngClass]="{ 'is-invalid': submitted && ad.password.errors }" placeholder="Password" />

            <input *ngIf="passtext" type="text" formControlName="password" name="password" id="password" class="form-control"
              required [ngClass]="{ 'is-invalid': submitted && ad.password.errors }" placeholder="Password" />


            <div class="p-icon" *ngIf="visibilityIcon">
              <img src="../../../assets/imgs/Password Visibility.png" style="width:30px;" (click)="visibiltyPassword()">
            </div>
            <div class="p-icon" *ngIf="visibilityStrikeIcon">
              <img src="../../../assets/imgs/Password Visibility 2.png" style="width:30px;" (click)="visibilityString()">

            </div>
            <div *ngIf="submitted && ad.password.errors" class="invalid-feedback">
              <div *ngIf="ad.password.errors.required">password is required</div>
            </div>
          </div>

          <ul class="clearfix">
            <li class="float-left">
              <input type="checkbox" id="remember">
              <label for="remember" class="f-s-18">Remember Me</label>
            </li>
            <li class="float-right"><a href="" class="p-color f-s-18 fw">Forgot Password?</a></li>
          </ul>
          <!-- <button type="submit" class="btn btn-primary">Login</button> -->
          <button class="btn btn-default btn-lg login-btn">Login</button>
        </form>
        <div class="">
          <p class="float-left m-p">Not an agent?&nbsp;<a id="test" data-dismiss="modal" (click)="goToRegister()" class="float-right fw cursor">Register
              Now</a></p>
        </div>
      </div> <!-- /.modal-body -->
    </div> <!-- /.modal-content -->
  </div> <!-- /.modal-dialog -->
</div> <!-- /.signUpModal -->