.mobile-visibility{
    display: none;
}
.max-logo {
    width:50%;
    margin-top:-30px;
}
/**Login Model */
.m-t-35{
    margin-top:35px;
}
.m-t-60{
    margin-top: 60px;
}
.modal-body{
    padding: 70px 80px 120px 80px !important;
}
.m-p{
    padding-top: 30px;
    padding-left: 115px;
}
.h3-text {
    text-align: center;
    font-weight: 500 !important;
    margin-bottom: 50px;
    margin-top: -25px;
    font-size: 40px;
}
.form-control{
    font-size: 21px !important;
}

input[type="checkbox"]{
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
  
    border-radius: 1px;
    box-sizing: border-box;
    position: relative;
    box-sizing: content-box ;
    width: 50px !important;
    height: 30px !important;
    border-width: 0;
    transition: all .3s linear;
    }
    /**Login Button*/
.f-s-18{
    font-size:18px !important;
}
.fw{
    font-weight: bold;
}
    .login-btn {
        margin-bottom: 0px !important;
        padding:0px !important;
        border-radius: 50px !important;
        width: 250px !important;
           background: #3d73d3;
        color: white;
        font-weight: bold !important;
        outline:none;
      margin: 30px auto;
        font-size: 20px !important;
    }
    
    .login-btn:hover, .login-btn:focus ,.login-btn:active
    {
        color: #fff;
        background-color: #4343d6;
        border-color: #4343d6;
        outline:none;
    }

    form input {
        height: 60px !important;
        border: 1px solid #e7e7e7;
        padding: 0 20px;
        border-radius: 6px !important;
        margin-bottom: 20px;
    }
    /**Password Eye Icon*/

.p-icon{
    position: absolute;
    z-index: 99;
    top: 260px;
    right: 96px;
}
/**Mobile*/

@media only screen and (max-width: 600px) {

.mobile-visibility{
    display: block;
    position: absolute;
    right:30px;
}
.mobile-nav {
    position: absolute;
    top: 70px;
    background: #3d73d2;
    width: 100%;
}
.modal-body{
    padding: 50px 15px 90px !important;
}
.p-icon[_ngcontent-c2] {
    position: absolute;
    z-index: 99;
    top: 239px;
    right: 41px;
}
.m-p[_ngcontent-c2] {
    padding-top: 30px;
    padding-left: 60px;
}
  }