<div class="m-130">
</div>

<div class="container">
    <button class="btn btn-info" (click)="agentLogout()">Logout</button>
    <button class="btn btn-info" (click)="writePol()">Write Policies</button>
  <table>
    <tr>
      <td>Agent ID</td>
      <td>{{agentDetails.agentId}}</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{agentDetails.firstName}}</td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>{{agentDetails.phoneNo}}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{agentDetails.emailId}}</td>
    </tr>
    <tr>
      <td>SSN</td>
      <td>{{agentDetails.ssnNumber}}</td>
    </tr>
    <tr>
      <td>Payment ID</td>
      <td>{{agentDetails.paymentId}}</td>
    </tr>
    <tr>
      <td>Profile Pic</td>
      <td><img src={{agentDetails.ImageURI}} alt="profile_Pic"/></td>
    </tr>
    <tr>
      <td>Profile Pic</td>
      <td><div id="example1"></div></td>
    </tr>
  </table>
</div>

<!-- <script src="/js/pdfobject.js"></script> -->
<script>PDFObject.embed(agentDetails.ImageURI, "#example1");</script>

<div class="container i-d-s">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
      <h3 class="text-center">Image Upload</h3>
      <img [src]="fileDataUri">

      <p *ngIf="errorMsg" style="color:red">{{errorMsg}}</p>
      <form (ngSubmit)="uploadFile($event)">
      <input type="file" (change)="previewFile()" #fileInput>
      <button type="submit" [disabled]="fileDataUri == undefined">Upload</button>
    </form>

<!--         <h3 class="text-center">Image Upload</h3>
        <img [src]="url" height="200"> <br />
        <input type='file' (change)="onSelectFile($event)"> -->
      </div>
      <div class="col-md-6">
        <h3 class="text-center">Documents Upload</h3>
          <p *ngIf="errorLicenceMsg" style="color:red">{{errorLicenceMsg}}</p>
          <form (submit)="uploadLicenceFile($event)">
          <input type="file" (change)="previewLicenceFile()" #fileLicenceInput>
          <button type="submit" [disabled]="fileLicenceDataUri == undefined">Upload</button>
        </form>
      </div>
    </div>
  </div>
</div>
