.wehelp{
    font-size: 50px;
    font-weight: bold;
    line-height: 70px;
    padding-left: 50px;
    padding-top: 100px;
    color: black;
    text-align: left;
}
.join-btn{
    width: 200px;
    border-radius: 50px;
    background-color: #3d73d2;
    color: white;
    font-weight: bold;
    margin-top: 50px;
    position: absolute;
    left: 8%;
    outline:none;
}
.join-btn a {
    color: #ffffff !important;
}
/* .item {
    height: 550px;
} */
.f-28{
    font-size: 28px;
}
.p-b-0{
    padding-bottom: 0px;
    padding-top: 100px;
}
.testimonial-section {
    padding: 30px 0 150px 0;
    position: relative;
    z-index: 9;
    margin-bottom: 0px;
}
.carousel-caption {
    right: 0%;
    left: 10%;
    top:15%;
    padding-bottom: 30px;
}
#tmyCarousel .item {
height:500px;

}

.tcarousel-caption {
text-align: left;
top:-5%;
color: rgba(0,0,0,0.65);
    padding-bottom: 30px;
}
.tcarousel-caption p {
    text-shadow: none;
   }
   .t-s {
       text-shadow: none;
   }

.abt-image-box{
    position: absolute;
    top: 0px;
    left: -105px;
    z-index: 1;
}
.t-i-b {
    left: -160px !important;
    top: 0px;
}

.home-service-section img {
    position: absolute;
    left: 0;
    top: 150px;
}
.home-service-section{
    padding-top:150px;
}

.home-service-section img {
    position: absolute;
    left: -278px;
    top: 150px;
}
/**Padding*/

.p-b-80{
    padding-bottom: 80px !important;
}
.m-t-100 {
    margin-top:-100px;
}

.loader {
    position: absolute;
    left: 45%;
    top: 5%;
}

/** Mobile Responseiv*/



@media only screen and (max-width: 600px) {

    .carousel-inner {
        height: 500px;
    }
    .wehelp[_ngcontent-c4] {
        font-size: 20px;
        font-weight: bold;
        line-height: 34px;
        padding-top: 100px;
        padding-bottom: 20px;
        color: black;
        padding-left: 10px;
        text-align: left;
    }
    .m-h3 {
        font-size: 18px;
    line-height: 30px;
    }
      }