<div class="m-130">
<div class="container">
    <div class="col-lg-4">
      <form [formGroup]="adminsignupform" (submit)="onSignup(adminsignupform.value)">
        <div class="form-group">
            <label class="form-control-placeholder" for="f_name">Email</label>
            <input type="email" formControlName="emailId" name="emailId" id="emailId" class="form-control" required
              [ngClass]="{ 'is-invalid': submitted && ad.emailId.errors }" placeholder="email ID" />
            <div *ngIf="submitted && ad.emailId.errors" class="invalid-feedback">
              <div *ngIf="ad.emailId.errors.required">emailId is required</div>
            </div>
          </div>
        <div class="form-group">
            <label class="form-control-placeholder" for="f_name">Password</label>
            <input type="password" formControlName="password" name="password" id="password" class="form-control" required
              [ngClass]="{ 'is-invalid': submitted && ad.password.errors }" placeholder="password" />
            <div *ngIf="submitted && ad.password.errors" class="invalid-feedback">
              <div *ngIf="ad.password.errors.required">password is required</div>
            </div>
          </div>
        <div class="form-group">
            <label class="form-control-placeholder" for="f_name">Confirm Password</label>
            <input type="password" formControlName="confirmpassword" name="confirmpassword" id="confirmpassword" class="form-control" required
              [ngClass]="{ 'is-invalid': submitted && ad.confirmpassword.errors }" placeholder="confirm password" />
            <div *ngIf="submitted && ad.confirmpassword.errors" class="invalid-feedback">
              <div *ngIf="ad.confirmpassword.errors.required">confirm password is required</div>
            </div>
          </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
  <br/>
  <div *ngIf="confirmCode" class="message-row">
    <h3>Please check your email for the validation code and enter it here:</h3>
    <div class="col-lg-4">
      <form (ngSubmit)="validateAuthAdminCode(codeform)" #codeform="ngForm">
        <div class="form-group">
          <label for="code">Code</label>
          <input type="text" name="code" id="code" ngModel class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Validate Code</button>
      </form>
    </div>
  </div>
  <div *ngIf="codeWasConfirmed" class="row message-row">
    <h3>Verification Code was confirmed, please click <a routerLink="/login">here</a> to login</h3>
  </div>
</div>
</div>