<app-header></app-header>
<div class="m-130"></div>
<!-- 
			=============================================
				Theme Inner Banner 
			============================================== 
			-->
<div class="inner-page-banner contact-page-banner">
	<div class="opacity">
		<h1>Contact US</h1>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li>/</li>
			<li>Contact</li>
		</ul>
	</div> <!-- /.opacity -->
</div> <!-- /inner-page-banner -->



<!-- 
			=============================================
				Contact Us
			============================================== 
			-->
<div class="contact-us">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-6 col-xs-12">
				<div class="contact-us-form">
					<form [formGroup]="contactform" (submit)="onContact(contactform.value)">
						<input formControlName="email" type="email" placeholder="Email Address*" name="email" required autocomplete="new-password">
						<div *ngIf="submitted && f.email.errors" class="invalid-feedback">
							<div *ngIf="f.email.errors.required">Email is required</div>
						</div>
						<input formControlName="sub" type="text" placeholder="Subject*" name="sub">
						<div *ngIf="submitted && f.sub.errors" class="invalid-feedback">
								<div *ngIf="f.sub.errors.required">Subject is required</div>
							</div>
						<textarea placeholder="Your Message*" formControlName="message" name="message"></textarea>
			              <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
			                <div *ngIf="f.message.errors.required">Message is required</div>
			              </div>
						<!-- <button class="p-bg-color hvr-trim-two">SEND MESSAGE</button> -->
						<button class="btn btn-default btn-lg submit-btn">SUBMIT</button>
					</form>
				</div> <!-- /.contact-us-form -->
			</div> <!-- /.col- -->
			<div class="col-lg-5 col-md-6 col-xs-12">
				<div class="contact-address">
					<h2>Don’t Hesitate to contact with us for any </h2>
					<div>
						<div class="row p-t-30">
							<div class="fl">
								<img src="https://s3.amazonaws.com/mafserverless/Location+Icon.png">
							</div>
							<div class="fl">
								<p class="c-p">27 King's College Circle, Toronto,<br>
									Ontario M5S 1A1 Canada</p>
							</div>
						</div>
						<div class="row">
							<div class="fl">
								<img src="https://s3.amazonaws.com/mafserverless/Mail+id.png">
							</div>
							<div class="fl">
								<p class="c-p">maxagentfinancial.info@gmail.com</p>
							</div>
						</div>
					</div>


				</div> <!-- /.contact-address -->
			</div> <!-- /.col- -->
		</div> <!-- /.row -->
	</div> <!-- /.conatiner -->

	<!--Contact Form Validation Markup -->
	<!-- Contact alert -->
	<div class="alert-wrapper" id="alert-success">
		<div id="success">
			<button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
			<div class="wrapper">
				<p>Your message was sent successfully.</p>
			</div>
		</div>
	</div> <!-- End of .alert_wrapper -->
	<div class="alert-wrapper" id="alert-error">
		<div id="error">
			<button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
			<div class="wrapper">
				<p>Sorry!Something Went Wrong.</p>
			</div>
		</div>
	</div> <!-- End of .alert_wrapper -->
</div> <!-- /.contact-us -->
<app-footer></app-footer>