<app-header></app-header>
<div class="m-150"></div>
<div class="container-fluid tq p-b-80">

  <div class="col-md-12 p-100" >
    <div class="col-md-6">
      <img src="https://s3.amazonaws.com/mafserverless/Thank-you.png">
    </div>
    <div class="col-md-6">
      <div class="row">
        <h1 class="tq-heading">Thank you {{firstName}} !</h1>
      </div>
      <div class="row">
        <h3 class="tq-subheading">Your payment is successful.</h3>
      </div>
      <div class="row">
        <p class="black">Please check your email <span class="site-color ">{{emailId}}</span></p>
        <p class="black">You 'll receive a confirmation email with transaction details.</p>
      </div>

    </div>
  </div>

</div>
<app-footer></app-footer>