<app-header></app-header>
  <div class="m-130">
    <div class="container">
        <div class="col-lg-4">
          <form [formGroup]="agentloginform" (ngSubmit)="onLogin(agentloginform.value)">
            <div class="form-group">
                <label class="form-control-placeholder" for="f_name">Email</label>
                <input type="text" formControlName="agentId" name="agentId" id="agentId" class="form-control" required
                  [ngClass]="{ 'is-invalid': submitted && ad.agentId.errors }" placeholder="email ID" />
                <div *ngIf="submitted && ad.agentId.errors" class="invalid-feedback">
                  <div *ngIf="ad.agentId.errors.required">agentId is required</div>
                </div>
              </div>
            <div class="form-group">
                <label class="form-control-placeholder" for="f_name">Password</label>
                <input type="password" formControlName="password" name="password" id="password" class="form-control" required
                  [ngClass]="{ 'is-invalid': submitted && ad.password.errors }" placeholder="password" />
                <div *ngIf="submitted && ad.password.errors" class="invalid-feedback">
                  <div *ngIf="ad.password.errors.required">password is required</div>
                </div>
              </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
    </div>
  </div>
<app-footer></app-footer>