<app-header></app-header>
<!-- 
			=============================================
				Theme Inner Banner 
			============================================== 
			-->
<div class="inner-page-banner about-page-banner">
  <div class="opacity">
    <h1>Company Story</h1>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li>/</li>
      <li>About us</li>
    </ul>
  </div> <!-- /.opacity -->
</div> <!-- /inner-page-banner -->
<!-- 
			=============================================
				About Text
			============================================== 
			-->
<div class="about-text">
  <div class="container">
    <div class="title">
      <h6>WELCOME TO MAX AGENT FINANCIAL</h6>
      <h2>Striving to take advantage of today’s opportunities for <br>
        customers and clients.</h2>
    </div>
    <img src="https://s3.amazonaws.com/mafserverless/AboutUsPageBanner.jpg" alt="">
    <div class="about-tab-wrapper clearfix">
      <ul class="nav nav-tabs float-left">
        <li class="active"><a data-toggle="tab" href="#history">Our mission</a></li>
        <li><a data-toggle="tab" href="#vision">Our Vision</a></li>
        <!-- 	<li><a data-toggle="tab" href="#contact">Contact Us</a></li>
							<li><a data-toggle="tab" href="#news">News</a></li> -->
      </ul>
      <div class="tab-content float-left">
        <div id="history" class="tab-pane fade in active">
          <p>To give people from all backgrounds the power to become financial
            services business owners, so that every family can access financial
            knowledge, products, and resources to prepare for a better future.</p>
          <img src="https://s3.amazonaws.com/mafserverless/sign.png" alt="">
        </div> <!-- /#history -->
        <div id="vision" class="tab-pane fade">
          <p>We provide marketing services to startups and small businesses to looking for a partner of their digital
            media, design &amp; dev, lead generation, and communications requirents. We work with you, not for you.
            Although we have great resources.</p>
        </div> <!-- /#vision -->
        <div id="contact" class="tab-pane fade">
          <p>We provide marketing services to startups and small businesses to looking for a partner of their digital
            media, design &amp; dev, lead generation, and communications requirents. We work with you, not for you.
            Although we have great resources.</p>
        </div> <!-- /#contact -->
        <div id="news" class="tab-pane fade">
          <p>We provide marketing services to startups and small businesses to looking for a partner of their digital
            media, design &amp; dev, lead generation, and communications requirents. We work with you, not for you.
            Although we have great resources.</p>
        </div> <!-- /#news -->
      </div>
    </div> <!-- /.about-tab-wrapper -->
  </div> <!-- /.container -->
</div> <!-- /.about-text -->

<!-- 
			=============================================
				Trusted Client
			============================================== 
			-->
<div class="trusted-client">
  <div class="container">
    <div class="title">
      <h2>Our trusted partners</h2>
      
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-6">
        <div class="client-img"><img src="https://s3.amazonaws.com/mafserverless/Prudential+partner+logo.svg" alt=""></div>
      </div>
      <div class="col-md-4 col-xs-6">
        <div class="client-img"><img src="https://s3.amazonaws.com/mafserverless/partner+-nationwide.svg" alt=""></div>
      </div>
      <div class="col-md-4 col-xs-6">
        <div class="client-img"><img src="https://s3.amazonaws.com/mafserverless/Partner+Transamerica.svg" alt=""></div>
      </div>
      
    </div>
  </div> <!-- /.container -->
</div> <!-- /.trusted-client -->
<app-footer></app-footer>