<div class="m-130">
    <img class="loader" src="../../../assets/imgs/loader.gif" *ngIf="loader">
  <div class="container">
    <table style="width:100%">
      <tr>
        <th>Sponser ID:</th>
        <td>{{agentDetail.sponserId}}</td>
      </tr>
      <tr>
        <th>Agent ID:</th>
        <td>{{agentDetail.agentId}}</td>
      </tr>
      <tr>
        <th>First Name:</th>
        <td>{{agentDetail.firstName}}</td>
      </tr>
      <tr>
        <th>Last Name:</th>
        <td>{{agentDetail.lastName}}</td>
      </tr>
      <tr>
        <th>Gendet:</th>
        <td>{{agentDetail.gender}}</td>
      </tr>
      <tr>
        <th>Phone Number:</th>
        <td>{{agentDetail.phoneNo}}</td>
      </tr>
      <tr>
        <th>email ID:</th>
        <td>{{agentDetail.emailId}}</td>
      </tr>
      <tr>
        <th>SSN:</th>
        <td>{{agentDetail.ssnNumber}}</td>
      </tr>
      <tr>
        <th>Order ID:</th>
        <td>{{agentDetail.orderId}}</td>
      </tr>
      <tr>
        <th>Payment ID:</th>
        <td>{{agentDetail.paymentId}}</td>
      </tr>
      <tr>
        <th>Paid Status:</th>
        <td>{{agentDetail.isPaid}}</td>
      </tr>
      <tr>
        <th>Age Verified As 18:</th>
        <td>{{agentDetail.isAgeVerified}}</td>
      </tr>
      <tr>
        <th>Resident Address:</th>
        <td>{{agentDetail.residentAddress}}</td>
      </tr>
      <tr>
        <th>Resident Suit/Apartment:</th>
        <td>{{agentDetail.residentSuitApartment}}</td>
      </tr>
      <tr>
        <th>Resident City:</th>
        <td>{{agentDetail.residentCity}}</td>
      </tr>
      <tr>
        <th>Resident Country:</th>
        <td>{{agentDetail.residentCountry}}</td>
      </tr>
      <tr>
        <th>Zipcode:</th>
        <td>{{agentDetail.residentZipcode}}</td>
      </tr>
  <tr>
    <th>Verified and Approved Status:</th>
    <td>{{agentDetail.isAdminVerifiedApproved}}</td>
  </tr>
   <tr>
    <td><button (click)="onAgentReject()" class="btn btn-warning">REJECT</button></td>
    <td><button (click)="onAgentAccepts(agentDetail.agentId,agentDetail.firstName,agentDetail.emailId)" class="btn btn-primary">ACCEPT</button></td>
  </tr>
</table>
</div>

<!--Reject Popup-->
<div class="rejectDiv" *ngIf="rejectPopup">
  <span class="close" (click)="rfclose()">&times;</span>
  <form class="rform" [formGroup]="rejectform" (submit)="onReject(agentDetail.emailId,agentDetail.agentId,agentDetail.firstName,rejectform.value)">
    <div class="row m-t-30">
      <div class="form-group">
        <div class="col-md-4">
          <label for="email">Email:</label>
        </div>
        <div class="col-md-8">
          <input type="email" class="form-control" formControlName="emailId" placeholder="Enter email" value={{agentDetail.emailId}} readonly/>
        </div>
      </div>
    </div>
    <div class="row m-t-30">
      <div class="form-group">
        <div class="col-md-4">
          <label for="pwd">Agent Id</label>
        </div>
        <div class="col-md-8">
          <input type="text" formControlName="agentId" class="form-control" placeholder="Enter Agent Id" value={{agentDetail.agentId}} readonly/>
        </div>
      </div>
    </div>
    <div class="row m-t-30">
      <div class="form-group">
        <div class="col-md-4">
          <label for="pwd">Comments</label>
        </div>
        <div class="col-md-8">
          <textarea formControlName="comments" class="form-control" rows="4" cols="30" 
          required [ngClass]="{ 'is-invalid': submitted && f.comments.errors }">
          </textarea>
          <div *ngIf="submitted && f.comments.errors" class="invalid-feedback">
            <div *ngIf="f.comments.errors.required">Comments is required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-t-30">
      <div class="col-md-12">
        <div class="col-md-4"></div>
        <div class="col-md-4"><button type="submit" class="btn btn-default">Submit</button></div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </form>
</div>