<app-header></app-header>
<!-- <div class="m-130"></div>
<div class="container-fluid p-0 register-banner">
  <img src="../../../assets/imgs/Agent Registration page banner.jpg">
  <div class="r-b-text">
    <p class="heading">Agent Registration</p>
    <p class="lead text-uppercase">Home/agent login</p>
  </div>
</div> -->
<!-- 
			=============================================
				Theme Inner Banner 
			============================================== 
      -->
<div class="m-130"></div>
<div class="inner-page-banner contact-page-banner">
  <div class="opacity">
    <h1>Agent Registration</h1>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li>/</li>
      <li>agent login</li>
    </ul>
  </div> <!-- /.opacity -->
</div> <!-- /inner-page-banner -->

<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <p class="heading">Please enter the details below</p>
    </div>
    <div class="row m-t-15">
      <p class="sub-heading">Enter Your Sponsor Id</p>
    </div>
    <div class="row">
      <form [formGroup]="registerform" (submit)="onRegister(registerform.value)">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" formControlName="sponserId" name="sponserId" id="sponserId" class="form-control"
                required [ngClass]="{ 'is-invalid': submitted && f.sponserId.errors }" autocomplete="new-password">
              <label class="form-control-placeholder" for="f_name">Sponsor ID Number</label>
              <div *ngIf="submitted && f.sponserId.errors" class="invalid-feedback">
                <div *ngIf="f.sponserId.errors.required">Sponsor ID Number is required</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <p class="p-l-15">If you don't have a Sponsor ID &nbsp;&nbsp;<a [routerLink]="['/contactus']">Click Here</a></p>
        </div>
        <div class="row">
          <hr>
        </div>
        <!--2nd section-->
        <div class="row">
          <p class="sub-heading p-l-15">Personal details</p>
          <p class="p-l-15">Enter info as shown on social security card</p>
        </div>
        <!-- <div class="row">
      <form> -->
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" formControlName="firstName" name="firstName" id="f_name" class="form-control" required
                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" autocomplete="new-password">
              <label class="form-control-placeholder" for="f_name">First Name</label>
              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" formControlName="lastName" name="lastName" id="l_name" class="form-control" required
                [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" autocomplete="new-password">
              <label class="form-control-placeholder" for="f_name">Last Name</label>
              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <div class="select-wrapperprsnl">
                <select id="dLabelpersnl" formControlName="gender" name="" class="form-control" required [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                  <option value="null">Select Gender</option>
                  <option class="textclr" value="male">male</option>
                  <option class="textclr" vaiue="female">female</option>
                  <option class="textclr" vaiue="other">other</option>
                </select>
                <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                  <div *ngIf="f.gender.errors.required">Gender is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" formControlName="ssnNumber" name="ssnNumber" id="ssnNumber_name" class="form-control"
                required [ngClass]="{ 'is-invalid': submitted && f.ssnNumber.errors }" autocomplete="new-password">
              <label class="form-control-placeholder" for="f_name">Social Security Number</label>
              <div *ngIf="submitted && f.ssnNumber.errors" class="invalid-feedback">
                <div *ngIf="f.ssnNumber.errors.required">Social Security Number is required</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" formControlName="phoneNo" name="phoneNo" id="phoneNo" class="form-control" required
                [ngClass]="{ 'is-invalid': submitted && f.phoneNo.errors }" autocomplete="new-password">
              <label class="form-control-placeholder" for="f_name">Mobile Number</label>
              <div *ngIf="submitted && f.phoneNo.errors" class="invalid-feedback">
                <div *ngIf="f.phoneNo.errors.required">Mobile Number is required</div>
                <div *ngIf="f.phoneNo.errors.minlength">Please enter valid mobile number</div>
                <div *ngIf="f.phoneNo.errors.maxlength">Please enter valid mobile number</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" formControlName="emailId" name="emailId" id="emailId" class="form-control" required
                [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" autocomplete="new-password">
              <label class="form-control-placeholder" for="f_name">Email Address </label>
              <div *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
                <div *ngIf="f.emailId.errors.required">Email Address is required</div>
                <div *ngIf="f.emailId.errors.email">Email must be a valid</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <hr>
        </div>
        <div class="row">
          <p class="sub-heading p-l-15"> Residence Information</p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" formControlName="residentSuitApartment" name="residentSuitApartment" id="residentSuitApartment"
                class="form-control" required [ngClass]="{ 'is-invalid': submitted && f.residentSuitApartment.errors }" autocomplete="new-password">
              <label class="form-control-placeholder" for="f_name">Resident Suite /Apt</label>
              <div *ngIf="submitted && f.residentSuitApartment.errors" class="invalid-feedback">
                <div *ngIf="f.residentSuitApartment.errors.required">Apartment is required</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" formControlName="residentCity" name="residentCity" id="residentCity" class="form-control"
                required [ngClass]="{ 'is-invalid': submitted && f.residentCity.errors }" autocomplete="new-password">
              <label class="form-control-placeholder" for="f_name">Resident City</label>
              <div *ngIf="submitted && f.residentCity.errors" class="invalid-feedback">
                <div *ngIf="f.residentCity.errors.required">City is required</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <input type="text" formControlName="residentCountry" name="residentCountry" id="residentCountry" class="form-control"
                required [ngClass]="{ 'is-invalid': submitted && f.residentCountry.errors }" autocomplete="new-password">
              <label class="form-control-placeholder" for="f_name">Country</label>
              <div *ngIf="submitted && f.residentCountry.errors" class="invalid-feedback">
                <div *ngIf="f.residentCountry.errors.required">Country is required</div>
              </div>
        
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <input type="text" formControlName="residentState" name="residentState" id="residentState" class="form-control"
                required [ngClass]="{ 'is-invalid': submitted && f.residentState.errors }" autocomplete="new-password">
              <label class="form-control-placeholder" for="f_name">State</label>
              <div *ngIf="submitted && f.residentState.errors" class="invalid-feedback">
                <div *ngIf="f.residentState.errors.required">State is required</div>
              </div>
     
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="form-group">
              <input type="text" formControlName="residentZipcode" name="residentZipcode" id="residentZipcode" class="form-control"
                required [ngClass]="{ 'is-invalid': submitted && f.residentZipcode.errors }" autocomplete="new-password">
              <label class="form-control-placeholder" for="f_name">Pin / Zipcode </label>
              <div *ngIf="submitted && f.residentZipcode.errors" class="invalid-feedback">
                <div *ngIf="f.residentZipcode.errors.required"> Zipcode is required</div>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <textarea formControlName="residentAddress" class="form-control rounded-0" id="f_name" rows="8" required
                [ngClass]="{ 'is-invalid': submitted && f.residentAddress.errors }">

              </textarea>
              <div *ngIf="submitted && f.residentAddress.errors" class="invalid-feedback">
                <div *ngIf="f.residentAddress.errors.required">Address is required</div>
              </div>
              <label class="form-control-placeholder" for="f_name">Resident Address</label>
            </div>
          </div>
        </div>
        <div class="row">
          <hr>
        </div>
        <div class="row">
          <p class="sub-heading p-l-15">Terms and Conditions</p>
        </div>
        <div class="row  p-l-15">
          <label class="customcheck">
            <p>Agent associate fee $100</p>
            <input type="checkbox" name="isReadyPay" formControlName="isReadyPay">
            <span class="checkmark"></span>
            <div *ngIf="submitted && f.isReadyPay.errors" class="invalid-feedback">
              <div *ngIf="f.isReadyPay.errors.required"> Please check this checkbox</div>
            </div>
          </label>
        </div>
        <div class="row p-l-15">
          <label class="customcheck">
            <p>By checking this box, I agree that I am 18 years of age or older.</p>
            <input type="checkbox" name="isAgeVerified" formControlName="isAgeVerified">
            <span class="checkmark"></span>
            <div *ngIf="submitted && f.isAgeVerified.errors" class="invalid-feedback">
              <div *ngIf="f.isAgeVerified.errors.required"> Please check this checkbox</div>
            </div>
          </label>
        </div>
        <div class="row  p-l-15">
          <label class="customcheck">
            <p>By checking this box, I acknowledge that i will pay $100 processing fee.<br>
              This fee is payable to our Max Agent Financial. Co for processing this application and related licensing
              requirement.
              I acknowlege & understand that this fee is non-refundable & non-transferable. I acknowledge that am
              responsible for fees
              pertaining to pre-licensing and education.</p>
            <input type="checkbox" name="isAgreeNonRefund" formControlName="isAgreeNonRefund">
            <span class="checkmark"></span>
            <div *ngIf="submitted && f.isAgreeNonRefund.errors" class="invalid-feedback">
              <div *ngIf="f.isAgreeNonRefund.errors.required"> Please check this checkbox</div>
            </div>
          </label>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
              <button class="btn btn-default btn-lg submit-btn">SUBMIT</button>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </form>
    </div>
    <!--row-->
  </div>
</div>

<div class="success-msg" *ngIf="registerPopup">
  <span class="close">&times;</span>
  <h3 class="text-center green">Register Successfully !</h3>
 
</div>

<img class="loader" src="https://s3.amazonaws.com/mafserverless/loader.gif" *ngIf="loader">
<app-footer></app-footer>