
select{
    outline: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
} 

.select-wrapper {
    position: relative;	 
}

.select-wrapper:after {
	font-family: FontAwesome;
  	content: '\f107';
  	font-size: 25px;
  	position: absolute;
  	top: 8px;
      right: 10px;
  	color: #434B67;
  	pointer-events: none;
}  
#dLabelpersnl1{
    /* width: 303px; */
  height: 50px;
  border-radius: 4px;
  background-color: #fff;
  border: solid 1px #ccc;
  text-align: left;
  padding: 7.5px 15px;
  color: #ccc;
  letter-spacing: 0.7px;
  font-size: 16px;
  font-weight: 600;
  margin-top:30px;
}
#dLabelpersnl{
    /* width: 140px; */
    height: 50px;
    border-radius: 4px;
    background-color: #fff;
    border: solid 1px #ccc;
    text-align: left;
    padding: 7.5px 15px;
    color: #ccc;
    letter-spacing: -0.3px;
    font-size: 14px;
    font-weight: 600;
    margin-top:30px;
}
.select-wrapperprsnl {
    position: relative;	 
}

.select-wrapperprsnl:after {
	font-family: FontAwesome;
  	content: '\f107';
  	font-size: 25px;
  	position: absolute;
  	top: 8px;
      right:10px;
      /* left:120px; */
  	color: #434B67;
  	pointer-events: none;
}
.select-wrapperprsnl1 {
    position: relative;	 
}

.select-wrapperprsnl1:after {
	font-family: FontAwesome;
  	content: '\f107';
  	font-size: 25px;
  	position: absolute;
  	top: 8px;
      right: 10px;
  	color: #434B67;
  	pointer-events: none;
}
#dLabel {
    width: 320px;
  height: 40px;
  border-radius: 8px;
  background-color: #fff;
  border: solid 1px #ccc;
  text-align: left;
  padding: 7.5px 15px;
  color: #ccc;
  letter-spacing: 0.7px;
  font-size: 16px;
  font-weight: 600;
}
/* preffered country */
#dLabelfuturecountry {
    width: 320px;
  height: 40px;
  border-radius: 8px;
  background-color: #fff;
  border: solid 1px #ccc;
  text-align: left;
  padding: 7.5px 15px;
  color: #ccc;
  letter-spacing: 0.7px;
  font-size: 16px;
  font-weight: 600;
}
#dLabel2 {
    width: 350px;
  height: 40px;
  border-radius: 8px;
  background-color: #fff;
  border: solid 1px #ccc;
  text-align: left;
  padding: 7.5px 15px;
  color: #ccc;
  letter-spacing: 0.7px;
  font-size: 16px;
  font-weight: 600;
}
/* for current country*/
#dLabelcurrentcity {
    width: 350px;
  height: 40px;
  border-radius: 8px;
  background-color: #fff;
  border: solid 1px #ccc;
  text-align: left;
  padding: 7.5px 15px;
  color: #ccc;
  letter-spacing: 0.7px;
  font-size: 16px;
  font-weight: 600;
}
/* current city */
#dLabelcurrentcity_sign {
    width: 306px;
  height: 40px;
  border-radius: 8px;
  background-color: #fff;
  border: solid 1px #ccc;
  text-align: left;
  padding: 7.5px 15px;
  color: #ccc;
  letter-spacing: 0.7px;
  font-size: 16px;
  font-weight: 600;
}
.textclr{
    color:black;
    }
    select:focus > option:checked { 
        background-color: #ccc;
        color: black;
    }
    
    #dLabel1 {
        width: 170px;
      height: 40px;
      border-radius: 8px;
      background-color: #fff;
      border: solid 1px #ccc;
      text-align: left;
      padding: 7.5px 15px;
      color: #ccc;
      letter-spacing: -0.3px;
      font-size: 14px;
      font-weight: 600;
    }
    #dLabelfuturespec {
        width: 170px;
      height: 40px;
      border-radius: 8px;
      background-color: #fff;
      border: solid 1px #ccc;
      text-align: left;
      padding: 7.5px 15px;
      color: #ccc;
      letter-spacing: -0.3px;
      font-size: 14px;
      font-weight: 600;
    }
    .select-wrapper1 {
        position: relative;	 
    }
    
    .select-wrapper1:after {
        font-family: FontAwesome;
          content: '\f107';
          font-size: 25px;
          position: absolute;
          top: 8px;
          right: 10px;
          color: #434B67;
          pointer-events: none;
    }


/* Input label */
.form-group {
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  .form-control-placeholder {
    position: absolute;
    top: 8px;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
  }
  
  .form-control:focus + .form-control-placeholder,
  .form-control:valid + .form-control-placeholder {
    font-size: 100%;
    transform: translate3d(0, -150%, 0);
    opacity: 1;
    color: #3d73d2;
   
  }
  
/* Body of Css */

    input[type="text"],input[type="email"], input[type="password"]{
        outline: none;
        box-shadow:none !important;
        border:1px solid #ccc ;
        /* border: 1px solid #3d73d2; */
        height:50px;
        margin-top:30px;
        }

        .form-control:focus  {
            border: 1px solid #3d73d2;

        }
/* Checkbox */
.checkbxbg{
    background-color: white;
    border-radius:7px;
    padding-left:20px;
    padding-right:20px;
    padding-top: 20px;padding-bottom: 20px;
    width: 280px;
}
.customcheck {
    display: block;
    position: relative;
    padding-left: 42px;
    /* margin-bottom: 12px; */
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 100;
    padding-bottom: 4px;
    color: #5a5a5a;
    letter-spacing: 0.5px;
}

/* Hide the browser's default checkbox */
.customcheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 10px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
        border: 1px solid #6f6d75;
}

/* On mouse-over, add a grey background color */
.customcheck:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.customcheck input:checked ~ .checkmark {
    background-color: #fff;
    border-radius: 5px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.customcheck input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.customcheck .checkmark:after {
    left: 5px;
    top: 0px;
    width: 6px;
    height: 12px;
    border: solid #02cf32;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* SingUp button */
.btncenter{
    text-align:center;
   
  }
.btn-outline-success{
    font-size: 20px;
    color: #47cc25;
    border-color:#47cc25;
    border-radius: 10px;
      height: 50px;
     width: 190px;
     padding-top: 3px;
  }
  button:hover{
    background-color: white;
 }
 @media (min-width: 1800px) and (max-width: 1920px) {
    .container-fluid>.sign2{
        padding-left:103px;
     }
 }

 input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ccc;
    font-size:15px;
    font-weight: 600;
  }
  input[type="text"]::-moz-placeholder { /* Firefox 19+ */
    color: #ccc;
    font-size:15px;
    font-weight: 600;
  }
  input[type="text"]:-ms-input-placeholder { /* IE 10+ */
    color: #ccc;
    font-size:15px;
    font-weight: 600;
  }
  input[type="text"]:-moz-placeholder { /* Firefox 18- */
    color: #ccc;
    font-size:15px;
    font-weight: 600;
  }
  .form-control{
      border: solid 1px #ccc;
      border-radius: 4px;
  }
  input[type="text"],input[type="password"]{
      outline: none !important;
      box-shadow: none !important;
      border:  1px solid #ccc;
  }
  .msgcenter{
      text-align: center;
  }


.logn_text
{
    color: #774fe5;
    cursor: pointer;
}
textarea{
    margin-top:30px;
}
.submit-btn{
    border-radius: 50px;
    width: 210px;
    height: 65px;
    background: #4343d6;
    color: white;
    font-weight: bold;
}
.submit-btn:hover, .submit-btn:focus ,.submit-btn:active
{
    border-radius: 50px;
    width: 210px;
    height: 65px;
    background: #4343d6;
    color: white;
    font-weight: bold;
    outline:none;
}
.register-banner {
    position: relative;
}
.r-b-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 15px 0px 15px;
    border-radius: 4px;
    text-align: center;
    border: 0px;
    background: white;
}

.contact-page-banner {
    background: url(https://s3.amazonaws.com/mafserverless/reg.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin-bottom: 100px;
  }
  .inner-page-banner .opacity {
    text-align: center;
    background: transparent;
    padding: 220px 0 175px 0;
  }
  .inner-page-banner .opacity h1 {
    color: #000000;
    text-transform: capitalize;
  }
  .inner-page-banner .opacity ul li {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    margin: 40px 2px 0 2px;
    text-transform: uppercase;
    color: #929292;
    letter-spacing: 1.1px;
  }
  .inner-page-banner .opacity ul li a {color: #000000;}

  .submit-btn{
    border-radius: 50px;
    width: 210px;
    height: 65px;
    background: #4343d6;
    color: white;
    font-weight: bold;
}
/**Register Model*/

.success-msg
{
  
    z-index: 99;
    color: white !important;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    right: 37%;
    bottom: 22%;
    box-shadow: 10px 10px 20px #000000a6;
    width: 550px;
    height: 190px;
    padding: 20px;
    FONT-SIZE: 18px;
    opacity: 1.85;
    font-weight: bold;
    -webkit-animation-name: box;
    animation-name: box;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.proceedlink{
    color: white !important;
    text-align: center;
}
.white {
    color: #fff !important;
}
.proceedbtn{
    margin: 40px 200px;
}
.proceedbtn:hover, .proceedbtn:focus ,.proceedbtn:active
{
    color: #fff;
    background-color: #4343d6;
    border-color: #4343d6;
}
.btn-success {
    color: #fff;
    background-color: #4343d6;
    border-color: #4343d6;
}
.green {
    color: #4343d6;
}

.loader {
    position: absolute;
    left: 45%;
    top: 386%;
}